*{
    margin: 0;
}
div{
    display: grid;
    grid-template-columns: repeat(3,33vw);
    grid-template-rows: (3,33vh);
   grid-template-areas:
   'header header header'
   'main main aside'
   'footer footer footer';
}
header{
    grid-area: header;
    background-color: aqua;
}
main{
    grid-area: main;
    background-color:darkcyan;
}
aside{
    grid-area: aside;
    background-color:cornflowerblue;
}
footer{
    grid-area: footer;
    background-color: aqua;
}