*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    background-color: antiquewhite;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    min-width: 320px;
}
div{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 10px solid black;

}div:hover{
    background-color: white;
    color: antiquewhite;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}